* { margin: 0; padding: 0; outline: none; }
a { color: inherit; }

body {
  font-family: helvetica, arial, sans-serif;
  background: #f9f9f9;
  text-shadow: 0 1px 1px white;
}

#popup {
  width: 330px;
  min-height: 100px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sign-in {
  padding: 24px 32px 35px 90px;
  font-size: 12px;
  color: #282828;
  background:
    url('/img/icon-48.png') 32px 21px no-repeat,
    -webkit-linear-gradient(top, rgb(249,249,249) 0%, rgb(249,249,249) 66%, rgb(241,241,241) 66%, rgb(241,241,241) 100%);
}

.sign-in p {
  line-height: 16px;
  margin-bottom: 12px;
}

.sign-in a {
  color: #827B00;
  text-decoration: none;
}

.sign-in p a:hover {
  color:#635d00;
  text-decoration:underline;
}

.sign-in .button {
  position: relative;
  z-index: 1;

  display: block;
  text-align: center;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 7px;
  border-radius: 4px;
}

.sign-in .ribbon {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 49px;
  height: 49px;

  overflow: hidden;
  text-indent: -1000em;
  background: url('/img/ribbon.png') top left no-repeat;
}

.create-jam {
  display: none;
}

.create-jam[data-jammable="true"] {
  display: block;
  padding: 12px;
  text-align: center;
  background: #eee;
  color: #6e6e6e;
  border-bottom: 1px solid #c2c2c2;
}

.button {
  border-radius: 2px;

  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;

  height:20px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px 11px 3px;
  min-width:40px;
  font-weight: normal;
  font-style: normal;

  background: -webkit-linear-gradient(top, rgba(255,240,0,1) 0%,rgba(223,213,0,1) 100%);
  border:1px solid #d0c440;
  color: #595510;
  text-shadow:0 1px 1px #FFFCDE;
}

.button:hover {
  background: -webkit-linear-gradient(top, rgba(246,237,0,1) 0%,rgba(216,198,0,1) 100%);
  border-color:#D0C440;
}

.create-jam .source {
  margin-top: 12px;
  font-size: 13px;
}

.current-jam {
  display: none;
}

.current-jam[data-status="available"] {
  display: block;
  overflow: hidden;

  border-top: 1px solid #c2c2c2;
  box-shadow: 0 1px 0 white inset;
  font-size: 13px;

  background: -webkit-linear-gradient(top, #efeeee, #e6e6e6);
  color: #6e6e6e;
}

.current-jam[data-has-jam="true"] {
  cursor: pointer;
}

.current-jam .jamvatar {
  float: left;
  margin: 10px 8px 10px 10px;
}

.current-jam .jamvatar img {
  width: 28px;
  height: 28px;
}

.current-jam .info {
  overflow: hidden;
  margin: 8px;
}

.current-jam .title {
  margin-bottom: 4px;
}

.current-jam .stat {
  display: inline-block;
  background: url('/img/home_actions.png') no-repeat;
  padding-right: 19px;
}

.current-jam .stat:before {
  display: inline-block;
  content: "|";
  margin: 0 7px 0 5px;
}

.current-jam .stat:first-child:before {
  display: none;
}

.current-jam .play-count     { background-position: right -9px; padding-right: 21px; }
.current-jam .likes-count    { background-position: right -89px; }
.current-jam .comments-count { background-position: right -49px; }

.home-feed {
  list-style: none;
  max-height: 360px;
  overflow: auto;
}

.home-feed .jam {
  border-top: 1px solid #e1e1e1;
  box-shadow: 0 1px 0 white inset;
  cursor: pointer;
  color: #282828;
}

.home-feed .jam:first-child {
  border-top: none;
  box-shadow: none;
}

.home-feed .jam:hover {
  background: #eee;
}

.no-jams {
  text-align: center;
  margin: 30px 12px;
  font-size: 13px;
  color: #bbb;
}

.jam {
  overflow: hidden;
  font-size: 13px;
  position: relative;
}

.jam[data-seen="false"] {
  background: #ffffeb;
}

.jam .timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #a6a6a6;
}

.jam .jamvatar, .jam .jamvatar img {
  width: 50px;
  height: 50px;
}

.jam .jamvatar {
  float: left;
  margin: 10px 6px 10px 10px;
}

.jam .info {
  overflow: hidden;
  line-height: 20px;
  margin: 5px 10px 5px 6px;
}

.jam .user {
  font-weight: bold;
}
