* { margin: 0; padding: 0; }

body {
  font-family: helvetica;
  background: #f9f9f9;
  text-shadow: 0 1px 1px white;
}

#popup {
  width: 330px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.create-jam {
  display: none;
}

.create-jam[data-jammable="true"] {
  display: block;
  padding: 12px;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid black;
}

.create-jam button {
  padding: 8px 16px;
  background: #808080;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 #696969;
  color: #eee;
  font-size: 12px;
  font-family: helvetica, sans-serif;
  outline: none;
  cursor: pointer;
}

.create-jam .source {
  margin-top: 12px;
  font-size: 13px;
}

.current-jam {
  display: none;
}

.current-jam[data-status="available"] {
  display: block;

  padding: 10px 10px 8px;
  border-top: 1px solid #c2c2c2;
  box-shadow: 0 1px 0 white inset;
  font-size: 13px;

  background: -webkit-linear-gradient(top, #efeeee, #e6e6e6);
}

.current-jam, .current-jam a {
  color: #6e6e6e;
}

.current-jam[data-has-jam="true"] {
  cursor: pointer;
}

.current-jam .jamvatar {
  float: left;
  margin-right: 8px;
}

.current-jam .jamvatar img {
  width: 28px;
  height: 28px;
}

.current-jam .info {
  overflow: hidden;
}

.current-jam .title {
  line-height: 12px;
  margin-bottom: 4px;
}

.current-jam .stat {
  display: inline-block;
  background: url('/img/home_actions.png') no-repeat;
  padding-right: 17px;
  color: #bebebe;
}

.current-jam .stat:before {
  display: inline-block;
  content: "|";
  margin: 0 7px;
}

.current-jam .stat:first-child:before {
  display: none;
}

.current-jam .play-count     { background-position: right -10px; }
.current-jam .likes-count    { background-position: right -90px; }
.current-jam .comments-count { background-position: right -50px; }

.home-feed {
  list-style: none;
  max-height: 360px;
  overflow: auto;
}

.home-feed .jam {
  border-top: 1px solid #e1e1e1;
  box-shadow: 0 1px 0 white inset;
  cursor: pointer;
}

.home-feed .jam:first-child {
  border-top: none;
  box-shadow: none;
}

.home-feed .jam:hover {
  background: #eee;
}

.no-jams {
  text-align: center;
  margin: 30px 12px;
  font-size: 13px;
  color: #bbb;
}

.jam {
  overflow: hidden;
  font-size: 13px;
  position: relative;
  padding: 10px;
}

.jam[data-seen="false"] {
  background: #ffffeb;
}

.jam .timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #a6a6a6;
}

.jam .jamvatar, .jam .jamvatar img {
  width: 50px;
  height: 50px;
}

.jam .jamvatar {
  float: left;
  margin-right: 6px;
}

.jam .info {
  overflow: hidden;
  line-height: 17px;
}

.jam .user {
  font-weight: bold;
  line-height: 10px;
  margin-bottom: 4px;
}
