* { margin: 0; padding: 0; }

body {
  font-family: helvetica;
}

#popup {
  width: 320px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.create-jam {
  display: none;
}

.create-jam[data-has-url="true"] {
  display: block;
  padding: 12px;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid black;
}

.create-jam button {
  padding: 8px 16px;
  background: #808080;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 #696969;
  color: #eee;
  font-size: 12px;
  font-family: helvetica, sans-serif;
  outline: none;
  cursor: pointer;
}

.create-jam .source {
  margin-top: 12px;
  font-size: 13px;
}

.current-jam {
  display: none;
}

.current-jam[data-status="available"] {
  display: block;

  padding: 12px 16px;
  background: #808080;
  border-top: 1px solid #696969;
  font-size: 13px;
}

.current-jam, .current-jam a {
  color: #ddd;
}

.current-jam[data-has-jam="true"] {
  cursor: pointer;
}

.current-jam .jamvatar,
.current-jam .info {
  display: inline-block;
  vertical-align: top;
}

.current-jam .jamvatar {
  margin-right: 8px;
}

.current-jam .jamvatar img {
  width: 28px;
  height: 28px;
}

.current-jam .title {
  line-height: 12px;
  margin-bottom: 4px;
}

.current-jam .stat {
  display: inline-block;
  background: url('/img/home_actions.png') no-repeat;
  padding-right: 17px;
  color: #bebebe;
}

.current-jam .stat:before {
  display: inline-block;
  content: "|";
  margin: 0 7px;
}

.current-jam .stat:first-child:before {
  display: none;
}

.current-jam .play-count     { background-position: right -10px; }
.current-jam .likes-count    { background-position: right -90px; }
.current-jam .comments-count { background-position: right -50px; }

.home-feed {
  list-style: none;
  max-height: 360px;
  overflow: auto;
}

.home-feed .jam {
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
}

.home-feed .jam:first-child {
  border-top: none;
}

.home-feed .jam:hover {
  background: #eee;
}

.no-jams {
  text-align: center;
  margin: 30px 12px;
  font-size: 13px;
  color: #bbb;
}

.jam {
  overflow: hidden;
  font-size: 13px;
  position: relative;
  padding: 15px 18px 11px;
}

.jam[data-seen="false"] {
  background: #ffffeb;
}

.jam .timestamp {
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 10px;
  color: #a6a6a6;
}

.jam .jamvatar, .jam .jamvatar img {
  width: 50px;
  height: 50px;
}

.jam .jamvatar {
  float: left;
  margin-right: 6px;
}

.jam .info {
  overflow: hidden;
}

.jam .user {
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 4px;
}
