* { margin: 0; padding: 0; }

body {
  font-family: helvetica;
}

#popup {
  width: 320px;
  height: 480px;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.create-jam {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.create-jam button {
  padding: 4px 8px;
}

.home-feed {
  list-style: none;
}

.home-feed .jam {
  padding: 6px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.home-feed .jam:first-child {
  border-top: none;
}

.home-feed .jam:hover {
  background: #eee;
}

.jam {
  overflow: hidden;
}

.jam .jamvatar {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 6px;
}

.jam .info {
  overflow: hidden;
}

.jam .title {
  font-weight: bold;
}

.jam .username {
  color: #bbb;
}