* { margin: 0; padding: 0; }

body {
  font-family: helvetica;
}

#popup {
  width: 320px;
  height: 480px;
  overflow: auto;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.create-jam {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.create-jam button {
  padding: 4px 8px;
}

.current-jam {
  display: none;
}

.current-jam[data-status="available"] {
  display: block;
  padding: 6px;
  text-align: center;
  background: #ddd;
  cursor: pointer;
}

.current-jam .title {
  font-weight: bold;
}

.current-jam .play-count,
.current-jam .likes-count,
.current-jam .comments-count {
  display: inline-block;
  font-size: 0.9em;
}

.current-jam .play-count:after     { content: "\0000A0plays"; }
.current-jam .likes-count:after    { content: "\0000A0likes"; }
.current-jam .comments-count:after { content: "\0000A0comments"; }

.current-jam .likes-count:before,
.current-jam .comments-count:before {
  content: "\0000A0\0000B7\0000A0";
}

.home-feed {
  list-style: none;
}

.home-feed .jam {
  padding: 6px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.home-feed .jam:first-child {
  border-top: none;
}

.home-feed .jam:hover {
  background: #eee;
}

.jam {
  overflow: hidden;
}

.jam .jamvatar {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 6px;
}

.jam .info {
  overflow: hidden;
}

.jam .title {
  font-weight: bold;
}

.jam .username {
  color: #bbb;
}